@import '../../../styles/mixins/breakpoint';

.history-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include breakpoint-min(md) {
    gap: 24px;
  }

  @include breakpoint-min(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-min(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.history__title {
  margin-bottom: 24px;
}

.history__actions {
  text-align: center;
  padding-top: 16px;

  @include breakpoint-min(md) {
    padding-top: 32px;
  }
}
