@import '../../../../../styles/colors';

.atc-game-part-active {
  background-color: $highlight-color;
}

.atc-game-part-throw {
  width: 24px
}

.atc-game-part-throw__green {
  color: $accent-green-color;
}

.atc-game-part-throw__red {
  color: $accent-red-color;
}

.atc-game-part-stats {
  width: 64px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}
