<div class="block p-12 pl-16 flex flex-align-center" [class.atc-game-part-active]="active()">
  <div class="flex-1-1">{{ username() }}</div>
  @for (i of turnIndexes; track i) {
    <div class="atc-game-part-throw mr-24 flex flex-align-center">
      @if (turnHits()[i] === true) {
        <mat-icon class="atc-game-part-throw__green">check</mat-icon>
      } @else if (turnHits()[i] === false) {
        <mat-icon class="atc-game-part-throw__red">close</mat-icon>
      }
    </div>
  }
  <div class="atc-game-part-stats">
    <p>{{ hits() }} / {{ throws() }}</p>
    <p>
      @if (throws() > 0) {
        {{ (hits() / throws() * 100) | number: '1.3-3' }}%
      } @else {
        -
      }
    </p>
  </div>
</div>
