$border: solid 2px black;

:host {
  display: flex;
  border-bottom: $border;
}

.atc-part__check {
  color: #008100;
}

.atc-part__times {
  color: #dd0000;
}

.atc-part__name, .atc-part__turn, .atc-part__stats {
  padding: 5px;
  box-sizing: border-box;
}

.atc-part__name, .atc-part__turn {
  border-right: $border;
}

.atc-part__name {
  flex: 1 1 auto;
  font-style: italic;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.atc-part__name_active {
  background: #ddd;
}

.atc-part__turn {
  flex: 0 0 auto;
  text-align: center;
  font-size: 24px;
  width: 2em;
}

.atc-part__stats {
  flex: 0 0 auto;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 5em;
}
