@use '../../../../../styles/variables/palette' as palette;

.atc-game-part-active {
  background-color: palette.$highlight;
}

.atc-game-part-throw {
  width: 24px
}

.atc-game-part-throw__green {
  color: palette.$accent-green;
}

.atc-game-part-throw__red {
  color: palette.$accent-red;
}

.atc-game-part-stats {
  width: 64px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}
