@import '../../../../../styles/variables';

.drawer-container {
  height: calc(100vh - $header-height);
}

::ng-deep mat-drawer-container.mat-drawer-container {
  background-color: inherit;
}

.drawer-content {
  height: 100%;

  @media screen and (min-width: $breakpoint-mobile) {
    display: flex;
  }
}

.sidenav-menu {
  display: inherit;
  border-radius: 0;

  @media screen and (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.main-content {
  @media screen and (min-width: $breakpoint-mobile) {
    flex: 1 1;
  }
}
