@import '../../../../../styles/variables';
@import '../../../../../styles/mixins/breakpoint';

.drawer-container {
  height: calc(100vh - $header-height);
}

::ng-deep mat-drawer-container.mat-drawer-container {
  background-color: inherit;
}

.drawer-content {
  height: 100%;

  @include breakpoint-min(md) {
    display: flex;
    padding-left: $sidebar-desktop-width;
  }
}

.sidenav-menu {
  width: $sidebar-desktop-width;
  border-radius: 0;
  display: none;

  @include breakpoint-min(md) {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: calc(100dvh - $header-height);
  }
}

.main-content {
  @include breakpoint-min(md) {
    flex: 1 1;
  }
}
