<ng-container *ngIf="data">
  <div class="history-item__first-line">
    <p>{{ data.creationDate | date:'dd.MM.YYYY HH:mm' }}</p>
    <p>{{ gamemodesNames[data.gamemodeName] }}</p>
  </div>
  <div *ngIf="data.throws" class="history-item__second-line">
    <p>Hits / throws: {{ data.hits }} / {{ data.throws }}</p>
    <p>{{ (data.hits / data.throws * 100) | number: '1.2-2' }}%</p>
  </div>
  <a *ngIf="!data.isCompleted" [routerLink]="['..', 'around-the-clock', data.id]" [relativeTo]="route">Load game</a>
</ng-container>
