@import './colors';
@import './variables';
@import './mixins';

@mixin block {
  background: $block-color;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
}

.block {
  @include block;
}

@include breakpoint-tablet {
  .block-md {
    @include block;
  }
}
