.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-0-0 {
  flex: 0 0;
}

.flex-1-1 {
  flex: 1 1;
}
