.mat-typography {
  p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

.mat-mdc-button-base.btn {
  height: 46px;
}

mat-form-field.mat-mdc-form-field.mat-form-no-subscript > .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

ngx-skeleton-loader .skeleton-loader.progress {
  margin-bottom: 0;
}
