@mixin spacing($sizes...) {
  @each $size in $sizes {
    .mat-typography .p-#{$size} {
      padding: #{$size}px;
    }

    .mat-typography .pl-#{$size} {
      padding-left: #{$size}px;
    }

    .mat-typography .mr-#{$size} {
      margin-right: #{$size}px;
    }

    .mat-typography .mb-#{$size} {
      margin-bottom: #{$size}px;
    }
  }
}

@include spacing(8, 12, 16, 24, 48);
