@mixin spacing($sizes...) {
  @each $size in $sizes {
    .p-#{$size} {
      padding: #{$size}px;
    }

    .pl-#{$size} {
      padding-left: #{$size}px;
    }

    .mr-#{$size} {
      margin-right: #{$size}px;
    }

    .mb-#{$size} {
      margin-bottom: #{$size}px;
    }
  }
}

.mat-typography {
  @include spacing(8, 12, 16, 24, 48);
}
