@import '../../../styles/colors';
@import '../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: calc(100dvh - $header-height);

  @media screen and (max-width: $breakpoint-mobile) {
    background-color: $block-color;
  }
}

.settings-block {
  @media screen and (min-width: $breakpoint-mobile) {
    padding: 16px;
  }
}

.settings-param-name {
  font-size: 16px;
  margin-bottom: 0;
}

.settings-slide-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
}
