<div class="screen-container">
  <div class="block-md settings-block">
    <form [formGroup]="form">
      <div class="settings-slide-item">
        <p class="settings-param-name">Vibration</p>
        <mat-slide-toggle color="primary" formControlName="vibration" [hideIcon]="true"></mat-slide-toggle>
      </div>

      <div class="settings-slide-item">
        <p class="settings-param-name">Sounds</p>
        <mat-slide-toggle color="primary" formControlName="sounds" [hideIcon]="true"></mat-slide-toggle>
      </div>

      <div class="settings-slide-item">
        <p class="settings-param-name">Dartboard style</p>
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Dartboard style"
          formControlName="dartboardStyle">
          @for (styleItem of dartboardStyleItems; track styleItem.value) {
            <mat-button-toggle [value]="styleItem.value">{{ styleItem.label }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>

      <div class="settings-slide-item">
        <p class="settings-param-name">Counters animations</p>
        <mat-slide-toggle color="primary" formControlName="countersAnimations" [hideIcon]="true"></mat-slide-toggle>
      </div>
    </form>
  </div>
</div>
