@import '../../../styles/utils/mixins';

.common-stats-cards {
  display: grid;

  @include breakpoint-max(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .stats-playing-time-card {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  @include breakpoint-min(md) {
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
}

::ng-deep {
  .common-stats-cards .stats-skeleton-loader {
    display: block;
    margin: 0 auto;
    height: 32px;

    .skeleton-loader {
      height: 32px;
      margin-bottom: 0;
    }

    &_100 {
      max-width: 100px;
    }

    &_150 {
      max-width: 150px;
    }
  }
}
