<mat-chip-listbox aria-label="Players list">
  <mat-chip *ngFor="let player of players | filteredPlayers: 'only': value">
    {{ player.username }}
    <button matChipRemove [attr.aria-label]="'Remove user ' + player.username" (click)="onCloseClick(player)">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
</mat-chip-listbox>

<mat-form-field>
  <mat-label>Select player</mat-label>
  <mat-select (valueChange)="onItemChange($event)">
    <mat-option
      *ngFor="let player of players | filteredPlayers: 'exclude': value"
      [value]="player">{{ player.username }}</mat-option>
  </mat-select>
</mat-form-field>
