.player-start-players-list__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}

.player-start-players-list__close-btn {
  display: contents;
  color: #888;
}

.player-start-players-list__close-btn:hover {
  color: #000;
}

.player-start-players-list__close-btn:not(:disabled) {
  cursor: pointer;
}
