<div class="screen-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngIf="players$ | async as players" class="atc-start__param">
      <h3>Players</h3>
      <hd-atc-start-players-list
        formControlName="players"
        [players]="players"></hd-atc-start-players-list>
    </div>
    <div class="atc-start__param">
      <h3>Direction</h3>
      <mat-form-field>
        <mat-select formControlName="direction">
          <mat-option
            *ngFor="let item of gameDirectionItems"
            [value]="item.value">{{ item.label }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="atc-start__param">
      <mat-checkbox formControlName="fastGame" color="primary">Fast game</mat-checkbox>
    </div>
    <div class="atc-start__param">
      <h3>Hit detection</h3>

      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Hit detection mode"
        formControlName="hitDetection">
        <mat-button-toggle
          *ngFor="let sectionType of sectionTypes"
          [value]="sectionType.value">{{ sectionType.label }}</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
    <div class="atc-start__param">
      <mat-checkbox formControlName="includeBull" color="primary">Include bull</mat-checkbox>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading || !form.valid">Start</button>
  </form>
</div>
