<div class="screen-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="block p-24 mb-24">
      <div class="mb-24">
        <mat-form-field class="mat-form-no-subscript w-100">
          <mat-select formControlName="direction">
            @for (item of gameDirectionItems; track item.value) {
              <mat-option [value]="item.value">{{ item.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mb-24">
        <mat-checkbox formControlName="fastGame" color="primary">Fast game</mat-checkbox>
      </div>

      <div class="mb-24">
        <mat-button-toggle-group
          class="w-100"
          name="fontStyle"
          aria-label="Hit detection mode"
          formControlName="hitDetection"
        >
          @for (sectionType of sectionTypes; track sectionType.value) {
            <mat-button-toggle
              class="flex-1-1"
              [value]="sectionType.value">{{ sectionType.label }}</mat-button-toggle>
          }
        </mat-button-toggle-group>
      </div>

      <div class="mb-24">
        <mat-checkbox formControlName="includeBull" color="primary">Include bull</mat-checkbox>
      </div>

      @if (players$ | async; as players) {
        <div>
          <hd-atc-start-players-list
            formControlName="players"
            [players]="players"></hd-atc-start-players-list>
        </div>
      }
    </div>

    <button mat-raised-button color="primary" type="submit" class="btn w-100">START</button>
  </form>
</div>
