html {
  font-family: sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.btn-large {
  padding: 20px;
  font-size: 20px;
}

.container {
  display: block;
  max-width: 360px;
  margin: 0 auto;
}
