@use '../../../../../styles/variables/palette' as palette;

:host {
  display: block;
  padding: 12px 16px;
  color: palette.$copyright-text;
  text-align: center;
}

.copyright-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.copyright-link {
  color: inherit;
}
