<div *ngIf="isGameNotCompleted$ | async; else gameCompleted" class="screen-container">
  <ul class="atc-game__participants">
    <li *ngFor="let player of players$ | async">
      <hd-atc-game-participant
        [active]="isPlayerActive$(player.id) | async"
        [turnHits]="(turnThrows$(player.id) | async) ?? []"
        [username]="player.username"
        [hits]="player.hits"
        [throws]="player.throws"
      ></hd-atc-game-participant>
    </li>
  </ul>
  <div *ngIf="hitDetectionMode && dartboardStyle" class="atc-game__dartboard-container">
    <hd-dartboard
      [sector]="(selectCurrentSectorForCurrentPlayer$ | async) ?? 0"
      [sectorType]="hitDetectionMode"
      [style]="dartboardStyle"></hd-dartboard>
  </div>
  <div class="atc-game__sections">
    <div *ngFor="let sector of upcomingSectors$ | async" class="atc-game__digit">{{ sector }}</div>
  </div>
  <div class="atc-game__tools-container">
    <button
      *ngIf="canCompleteGame$ | async"
      class="atc-game__tool-btn atc-game__tool-btn-complete"
      (click)="onCompleteClick()">Complete</button>
    <div class="atc-game__tools">
      <button class="atc-game__tool-btn" [disabled]="loading || (currentPlayerCompleted$ | async)" (click)="throw(true)">Hit</button>
      <button class="atc-game__tool-btn" [disabled]="loading || (currentPlayerCompleted$ | async)" (click)="throw(false)">Miss</button>
      <button class="atc-game__tool-btn" [disabled]="loading" (click)="undo()">Undo</button>
    </div>
  </div>
</div>

<ng-template #gameCompleted>Game is completed</ng-template>
