<div class="atc-game__container">
  <ul class="atc-game__participants">
    <li *ngFor="let player of players$ | async">
      <hd-atc-game-participant
        [active]="isPlayerActive(player.id) | async"
        [turnHits]="[true, true, true]"
        [username]="player.username"
        [hits]="player.hits"
        [throws]="player.throws"
      ></hd-atc-game-participant>
    </li>
  </ul>
  <div *ngIf="currentPlayer$ | async as currentPlayer" class="atc-game__output">{{ currentPlayer.username }} turns</div>
  <div class="atc-game__sections">
    <div *ngFor="let sector of upcomingSectors$ | async" class="atc-game__digit">{{ sector }}</div>
  </div>
  <div class="atc-game__tools-container">
    <div class="atc-game__tools">
      <button class="atc-game__tool-btn" [disabled]="loading" (click)="throw(true)">Hit</button>
      <button class="atc-game__tool-btn" [disabled]="loading" (click)="throw(false)">Miss</button>
      <button class="atc-game__tool-btn" [disabled]="loading" (click)="undo()">Undo</button>
    </div>
  </div>
</div>
