.game-btn {
  width: 160px;
}

.erorr-debug {
  color: #a00;
}

.nominal-panel {
  padding: 40px 0;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nominal-panel__current {
  font-size: 172px;
}

.nominal-panel__next {
  font-size: 22px;
  padding-left: 18px;
}

.tools {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.tools > li:not(:last-child) {
  margin-right: 12px;
}

.tools__btn {
  width: 80px;
}

.btn {
  font-size: 24px;
  padding: 24px 0;
  text-transform: uppercase;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.complete-tools {
  display: flex;
  justify-content: center;
}
