@import '../../../../../styles/colors';
@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.atc-game-particpants {
  margin-bottom: 24px;
}

.screen-container-atc {
  max-width: 372px;
}

@include breakpoint-desktop {
  .atc-game-particpants {
    margin-bottom: 0;
  }

  .screen-container-atc {
    display: flex;
    gap: 16px;
    justify-content: center;
    max-width: 500px;
  }
}

.atc-game-particpant-container:not(:last-child) {
  margin-bottom: 12px;
}

.atc-game-tools {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: $background-color;
  background: linear-gradient(0deg, $background-color 0%, $background-color 60%, rgba(0,0,0,0) 100%);

  @include breakpoint-tablet {
    width: calc(100% - $sidebar-desktop-width);
  }
}

.atc-game-spacer {
  height: 78px - 24px;
}

.atc-game-tools-button:not(:last-child) {
  margin-right: 16px;
}

::ng-deep .atc-game-tools .mat-mdc-raised-button > mat-icon.mat-icon {
  margin-right: 0;
}
