<p class="erorr-debug">errorDebug: {{ errorDebug | json }}; loading: {{ loading }}; hits: {{ hits }} / {{ throws }} ({{ hits / throws * 100 }}%)</p>
<div class="nominal-panel">{{ nominal }}</div>
<ul class="tools">
  <li>
    <button class="btn" [disabled]="buttonsDisabled" (click)="onHit()">Hit</button>
  </li>
  <li>
    <button class="btn" [disabled]="buttonsDisabled" (click)="onMiss()">Miss</button>
  </li>
  <li>
    <!-- TODO: disabled -->
    <button class="btn" [disabled]="true" (click)="onUndo()">Undo</button>
  </li>
</ul>
