@import '../../../../../styles/utils/mixins';

:host {
  display: block;
}

@include breakpoint-max(md) {
  .hit-rate-charts__bar-container {
    margin-bottom: 16px;
  }
}

@include breakpoint-min(md) {
  .hit-rate-charts__bar-container {
    flex: 1 1;
  }

  .hit-rate-charts {
    display: flex;
    gap: 16px;
  }

  .hit-rate-dartboard {
    width: 500px;
  }
}
