@import '../../../../../styles/utils/mixins';

:host {
  display: block;
}

.atc-stats-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @include breakpoint-min(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint-max(md) {
  .hit-rate-charts__bar-container {
    margin-bottom: 16px;
  }
}

@include breakpoint-min(md) {
  .hit-rate-charts__bar-container {
    flex: 1 1;
  }

  .hit-rate-charts {
    display: flex;
    gap: 16px;
  }

  .hit-rate-dartboard {
    width: 500px;
  }
}
