<h2 class="mb-24">Around the clock</h2>

<div class="atc-stats-cards mb-24">
  @for (card of statsCards(); track card.title) {
    <hd-atc-statistics-card [data]="card"></hd-atc-statistics-card>
  }
</div>

<div *ngIf="((hitRate$ | async) ?? []) as hitRate" class="hit-rate-charts">
  <div class="hit-rate-charts__bar-container block p-16">
    <hd-atc-hit-rate-bar [data]="hitRate"></hd-atc-hit-rate-bar>
  </div>
  <div class="block p-16">
    <hd-atc-hit-rate-heat-map class="hit-rate-dartboard" [data]="hitRate"></hd-atc-hit-rate-heat-map>
  </div>
</div>
