@import '../styles/variables';
@import '../styles/utils/mixins';

.header {
  height: $header-height;
}

.menu-button-container {
  width: 48px;
}

.menu-button {
  display: initial;

  @include breakpoint-min(md) {
    display: none;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.global-progress-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
