<mat-toolbar class="header" color="primary">
  <div class="menu-button-container">
    @if (isNotRoot$ | async) {
      <button
        mat-icon-button
        class="menu-button"
        (click)="toggleMobileMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    }
  </div>
  <h1>
    <a routerLink="/" (click)="closeSidenav()">Home darts</a>
  </h1>
  <div class="toolbar-spacer"></div>
  <a mat-icon-button routerLink="./settings">
    <mat-icon>settings</mat-icon>
  </a>
</mat-toolbar>

<hd-sidenav-container>
  <router-outlet></router-outlet>
</hd-sidenav-container>

@if (progressBarShown()) {
  <mat-progress-bar
    class="global-progress-bar"
    mode="indeterminate"></mat-progress-bar>
}
