@import '../styles/variables';

.header {
  height: $header-height;
}

.menu-button-container {
  width: 48px;
}

.menu-button {
  display: none;
}

@media screen and (max-width: $breakpoint-mobile) {
  .menu-button {
    display: initial;
  }
}

.sidenav-container {
  padding-top: $header-spacing;
}

.global-progress-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
